<div id="home">
	<button><%= link_to "Continue", collections_path %></button>
	<button class="tutorialBtn">Tutorial</button>
      <div id="myModal" class="modal">

        <!-- Modal content  <div id="newCategory"></div> <div id="newType"></div> -->
        <div class="modal-content">
          <span class="close">&times;</span>
          <%= render 'shared/tutorial' %>
        </div>

      </div>


</div>