<% content_for :javascript do %>
  <script type="text/javascript">
    ShopifyApp.ready(function(){
      ShopifyApp.Bar.initialize({
        title: "Home",
        icon: "<%= asset_path('favicon.ico') %>"
      });
    });
  </script>
<% end %>

<div id="navbar">
  <%= render 'shared/navbar' %>
</div>
<div id="collection_index">
  <h1>Collections</h1>
    <div class="collection_search">


    </div>
    <div class="collection_table">
      <div class="tbl-header">
        <table cellpadding="0" cellspacing="0">
        
          <thead>
            <tr class="th-row">
              <th>Title</th>
              <!-- <th>Filters</th>
              <th>Categories</th>
              <th>Types</th>
              <th>Tags</th>

              <th>Products</th> -->
              <!-- <th colspan="3"></th> -->

            </tr>
          </thead>
        
        </table>
      </div>

      <div class="tbl-content">
        <table cellpadding="0" cellspacing="0" border="0">
        
          <%- if @customCollections.any? or @smartCollections.any? %>
          <tbody >
     
            <% @customCollections.each do |collection| %>
              <tr class="row">
                <td class="collectionTitle"><%= link_to collection.title, categories_path(shopify_collection_id:collection.id, shopify_collection_title:collection.title) %></td>
               </tr>
  <!--               <td><button class="product_btn"><%# link_to "Filters", categories_path(shopify_collection_id:collection.id, shopify_collection_title:collection.title) %></button>  -->


               <!--  <td><%# collection.categories.count %>0</td>
                <td><%# collection.categories.count %>0</td> -->
                 <!-- <td><button class="product_btn"><%# link_to "Products", products_path(shopify_collection_id:collection.id, shopify_collection_title:collection.title) %></button></td>
   -->           
            <% end %>
          </tbody>

            <%# paginate @customCollections  %>



          <tbody>
            <% @smartCollections.each do |collection| %>
            <tr class="row">
                <td class="collectionTitle"><%= link_to collection.title, categories_path(shopify_collection_id:collection.id, shopify_collection_title:collection.title) %></td>
              </tr>
            <% end %>

            <%# paginate @smartCollections  %>
          <%- else %>
            <p>You should create these on shopify and then return</p>
          <%- end %>
        </tbody>
      </table>
  </div>
  </div>

</div>

