// alert("We made it!");
// console.log(6*12);
// var testJava = document.getElementById("testJava");
// $(testJava).addClass("red");
// console.log("boom");

var filters = document.getElementById("filters");
$(filters).css("min-height", "150px");
$(filters).css("width", "150px");
var ul = $(filters).children("ul");
$(ul).addClass("filter-nav");
var collections = $(ul).children('li');
$(collections).addClass("collections");
$(filters).html("<li>'{{ collection.title }}'</li>").addClass("categories");



// $(filters).replaceWith("<%= j render('shared/filters') %>");
// $(filters).load('filters.html.erb');
