/* TEST */


.hover{
	color: #ff0000;
}
a{
	text-decoration: none;
}
body{
	background: #fff;
	// background: url('background1.png') no-repeat center center fixed ;
	// background-size: 100% ;
	margin: 0px;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
}
#home{
	background: url('filterfly3.png') no-repeat center center fixed ;
	background-size: 100% ;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */

}
.continueBtn {
	background: url('continueBtn.png') no-repeat center center fixed ;
	width: 137px;
	height: 72px;
	right:20px;
	margin: 10px;
	bottom: 20px;
}
.tutorialBtn{
	background: url('tutorialBtn.png') no-repeat center center fixed ;
	width: 137px;
	height: 72px;
	right:20px;
	margin: 10px;
	bottom: 20px;
}
// #box{
// 	float: left;
// 	width: 200px;
// }
.page{
	display:block;
	overflow:auto;
	background: white;
	//padding-top: 100px;
	padding-left: 150px;
	padding-bottom: 100px;
}
#top_panel{
	width: 100%;
	height: 60px;
	position: absolute; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    //background: #4d4d4d;
	background: #31373d;
	color: #d3dbe2;
}
#left_panel{
	width: 150px;
	height: 100%;
	margin: 0px;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
	float: left;
	background: #31373d;
	color: #d3dbe2;
}
// #leftNav{
// 	width: 20%;
// 	float:left;
// }
// #index{
	
// 	float:left;

// }
// #index #box{
// 	background: white;
// }
// #container{
// 	min-height: 200px;

// }
// #index, #container{
// 	height: auto;
// }
/*
.product_btn{
	background: url('product_btn.png');
	box-shadow: none;
	border: 1px solid #979797 ;
	border-radius: 4px;
	width:60px;
	height:18px;
	text-align: center;
}
.nav_btn{
	background: url('edit_nav_btn.png');
	box-shadow: none;
	border: 1px solid #979797 ;
	border-radius: 5px;
	width:95px;
	height:18px;
	text-align: center;
}

*/


.page{
	overflow:visible;
}


/* TEST */

/*Index */
#collection_index{
	margin: 0px 0px 0 150px;
	min-height: 120px;
	background: #fff;
	padding-top: 62px;

}
#collection_index button{
	margin: 0 auto;
	background: #31373d;
	color: white;
	//margin: 0 auto;
}
#collection_index h1{
	text-align: center;
	margin-top: 0;
}
#collection_index table{
	border-collapse: collapse;
}
#collection_index td, th, table{
	border: 1px solid black;
	
}
#collection_index td, th{
	height: 50px;
	text-align: center;
}
tr.row {
	border: 2px solid black;
	height: 50px;

}

.nav_btn{
	margin-left: 40px;
}

#index{
	margin: 0px auto;
	max-width: 900px;
	//text-align: center;
	min-height: 120px;
	background: #fff;

}
#index .product_btn{
	background: #7AB562;
	font-family: "Brandon", Helvetica, Arial, sans-serif;
	border-radius: 4px;
}
#index .product_btn a{
	color:#fff;
}
#index table {
	//margin:0px auto;
}
#index td {
	min-width: 50px;
}
#index tr {
	border-bottom: 1pt solid black;
}
#index h1 {
	margin: 10px auto;
	color: #32374A;

}
#categoryForm {
	margin-top: 40px;
}

/* Collection Index */
#index li {
	list-style: none;
	margin: 15px auto 5px auto ;
}
#index ul {
	-webkit-padding-start:0px;
}
#index a {
	color: #767676 ;
}


/* Index */


/* NAVBAR */
#navbar{
	width: 150px;
	float:left;
	background: #E2F0FF;

}

.bold{
	font-weight: bold;
}
#leftNav{
	background: #E2F0FF;
	color: #d3dbe2;


}
#leftNav h1{
	color: white;
}
#leftNav a{
	color: #767676;
}
#leftNav li{
	list-style: none;
	margin:3px 0;
	text-align: left;
	float:left;
}

.navProductBtn {
	margin: 0 auto;
	text-align: center;
}

#leftNav ul {
	-webkit-padding-start: none;
	-webkit-margin-before: none;
    -webkit-margin-after: none;
    float:left;
}

/* NAVBAR */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}