body{
	background: #f2f2f2;
	margin: 0;
}
a{
	text-decoration: none;
	-webkit-font-smoothing: antialiased;
	font-family: Open Sans,open-sans,sans-serif;
}
h1{
  font: 300 36px "Open Sans",open-sans,sans-serif;
  -webkit-font-smoothing: antialiased;
}
h2{
  font: 400 24px "Open Sans",open-sans,sans-serif;
  -webkit-font-smoothing: antialiased;
}
a:hover{
	background: none;

}
#navbar{
	width: 100%;
	height: 60px;
	top: 0;
	margin-top: 0;
	background: #fff;
	position: absolute;
	box-sizing: border-box;
	padding: 10px;
	margin-bottom: 40px;
	box-shadow: 0 1px 6px rgba(57, 73, 76, 0.35);
	background: #0e2f44;
  // background: #66b5e4;
}
.logo{
	float: left;
	width: 100px;
	height: 40px;
	background: #fff;
}
.right-nav{
	float: right;
	width: 200px;
	height: 40px;
	background: #efeded;
	margin: 0 20px;
}
#content{
	// // background: #fff;
	// padding: 10px 20px;
	margin: 70px 0px 10px 0px;

}
.collection{
	border-radius: 3px;
	background: #161616;
	width: 170px;
	height: 140px;
	margin: 0px 20px 20px 0;
	display: inline-block;
	padding-top: 45px;
	text-align: center;
	box-sizing: border-box;
}
.collection h3{
	color: white;
	text-align: center;
	text-decoration: none;
	font-weight: 300;
}
#conversation-box{
  // border-top: 1px solid #d6d6d6;
  height: calc(100vh - 90px);
  min-width: 950px;
  width: calc(100vw - 20px);
  margin: 10px;
}
#conversation{
  float: right;
  width: 75%;
  text-align: left;
  height: calc(100vh - 160px);
  overflow: auto;
  padding: 0;
  background: #fff;
  box-sizing: border-box;
  border-right: 1px solid #e0e0e0;
	border-bottom: 1px solid #e0e0e0;
}
#project-message-box{
  width: 25%;
  float: left;
  background: #fff;
  box-sizing: border-box;
  border: 1px solid #e0e0e0;
}
#category-box{
	width: 25%;
	float: left;
	background: #fff;
	box-sizing: border-box;
	border: 1px solid #e0e0e0;
}
#search-projects{
  height: 79px;
  padding: 15px 0;
  margin: 0;
  border-bottom: 1px solid #e0e0e0;
  box-sizing: border-box;
}
#modal-dialog{
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto;
}
#share-modal h1{
  margin-top: 0px;
  color: #5FA7E7;
  font-weight: 200;
  font-size: 240%;
}
#share-modal a.close{
  margin-top: -15px;
  margin-right: -8px;

}
#project-list{
  height: calc(100vh - 160px);
  overflow: scroll;
  background: white;
  // border-bottom: 1px solid #e0e0e0;
  box-sizing: border-box;
}
.conversation-header{
  margin-left: 24%;
  margin-bottom: 0;
  padding: 15px 0;
  padding-left: 1%;
  border-left: none;
  height: 80px;
  background: #fff;
  box-sizing: border-box;
  width: 76%;
  border: 1px solid #e0e0e0;
  text-align: left;
}
.conversation-header p{
  margin-left: 25px;
}

.project-messages{
  color: #484848;
  text-align: left;
  height: 35px;
  padding: 20px;
  border-bottom: .5px solid #f1f1f1;
}
.p-name{
  color: #272727;
  margin: 5px 0;
  font-size: 16px;
}
.p-name a{
  text-decoration: none;
}
.id:hover .p-name{
  text-decoration: underline;
  color: #66b5e4;
}
.id:hover .project-messages{
  background: #f5f5f5;
}
.create_messages{
  text-align: center;
  margin: 160px auto 0 auto;
  opacity: .5;
}
#collections_search{
  width: 80%;
  min-width: 226px;
  height: 40px;
  border: 1px solid #e0e0e0;
  margin: 0 auto;
  border-radius: 2px;
  box-sizing: border-box;
  margin-top: 4px;
}
#collections_search.focus{
  box-shadow: inset 0px 0 5px rgba(0,0,0,.3);
  border: 1px solid #66b5e4;
  outline: 0;
}
#search{
  font-size: 14px;
  width: 80%;
  height: 37px;
  padding: 0px 10px;
  border: none;
  float: right;
  outline: 0;
  background: none;
}
.clear{
	// display: none;
  top: 100px;
  left: 21%;
  opacity: .5;
  float: right;
  position: absolute;
  cursor: pointer;
}
.search-icon{
  float:left;
  margin: 12px 0 0 12px;
}
.input{
	display: inline-block;
	margin: 5px 20px;
	width: 70%
}
.input input {
	font-size: 14px;
  box-sizing: border-box;
  width: 100%;
  height: 40px;
  padding: 0px 10px;
  border: 1px solid #e0e0e0;
  outline: 0;
  background: none;
}
input {
	font-size: 14px;
	box-sizing: border-box;
	height: 40px;
  padding: 0px 10px;
	border: 1px solid #e0e0e0;
	background: #CA3358;
	color: white;
	border-radius: 5px;
}
