/* TEST */


.hover{
	color: #ff0000;
}
a{
	text-decoration: none;
}
body{
	background: #E4F3FF;
}
#home{
	background: url('filterfly.png');
}
// #box{
// 	float: left;
// 	width: 200px;
// }
.page{
	display:block;
	overflow:auto;
	background: white;
	padding-bottom: 100px;
}
// #leftNav{
// 	width: 20%;
// 	float:left;
// }
// #index{
	
// 	float:left;

// }
// #index #box{
// 	background: white;
// }
// #container{
// 	min-height: 200px;

// }
// #index, #container{
// 	height: auto;
// }
/*
.product_btn{
	background: url('product_btn.png');
	box-shadow: none;
	border: 1px solid #979797 ;
	border-radius: 4px;
	width:60px;
	height:18px;
	text-align: center;
}
.nav_btn{
	background: url('edit_nav_btn.png');
	box-shadow: none;
	border: 1px solid #979797 ;
	border-radius: 5px;
	width:95px;
	height:18px;
	text-align: center;
}

*/


.page{
	overflow:visible;
}


/* TEST */

/*Index */
#index{
	margin: 0px auto;
	max-width: 900px;
	text-align: center;
	min-height: 120px;
	background: #fff;

}
#index .product_btn{
	background: #7AB562;
	font-family: "Brandon", Helvetica, Arial, sans-serif;
	border-radius: 4px;
}
#index .product_btn a{
	color:#fff;
}
#index table {
	margin:0px auto;
}
#index td {
	min-width: 50px;
}
#index tr {
	border-bottom: 1pt solid black;
}
#index h1 {
	margin: 10px auto;
	color: #32374A;

}
#categoryForm {
	margin-top: 40px;
}

/* Collection Index */
#index li {
	list-style: none;
	margin: 15px auto 5px auto ;
}
#index ul {
	-webkit-padding-start:0px;
}
#index a {
	color: #767676 ;
}


/* Index */


/* NAVBAR */
#navbar{
	width: 150px;
	float:left;

}

.bold{
	font-weight: bold;
}
#leftNav{
	background: #fff;
	color: #32374A;

}
#leftNav a{
	color: #767676;
}
#leftNav li{
	list-style: none;
	margin:3px 0;
}
.navProductBtn {
	margin: 0 auto;
	text-align: center;
}

#leftNav ul {
	-webkit-padding-start: none;
	-webkit-margin-before: none;
    -webkit-margin-after: none;
}

/* NAVBAR */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}