<table>
  <thead>
    <tr>
      <th>Shopify Product Id </th>
      <th>Product Id </th>
      <th>Category Id </th>
      <th>Product Type Id </th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <%- @products.each do |product| %>
      <div class="products">
        <tr>
          <td> <%= product.shopify_product_id %></td>
          <td><%= product.id %></td> 
          <td><%= product.category_id %></td>
          <td><%= product.product_type_id %></td>
        </tr>
      </div>
    <% end %>
  </tbody>
    <br>

  
</table>