
	
	<!-- <div id="navbar">
	  <%# render 'shared/navbar' %>
	</div> -->
	<div id="collection_index">
		<%= render 'shared/breadcrumb' %>

		<p id="notice"><%= notice %></p>
		<h1>Products</h1>

		<%# @shopify_products.each do |shopify_product| %>
		  <%# shopify_product.title %>
		  <%# shopify_product.id %>
		  <br>
		  <%# @this_product = @products.select{|p| p.shopify_product_id == shopify_product.id }[0] %>
		<%# end %>

		<%= render 'products/form' %>

		<%# render 'products/productNavigation' %>
		<div id="productShow"></div>
		<div id="productTypeShow"></div>
		<div id="chosen"></div>

	</div>




