
	<%= render 'shared/breadcrumb' %>
	<!-- <div id="navbar">
	  <%# render 'shared/navbar' %>
	</div> -->
	<div id="collection_index">
		

		<p id="notice"><%= notice %></p>
		
		<h1>Products</h1>

		<%= render 'products/form' %>

		<%- if @shopify_products.any? %>
			<div id="begin"><h2>Add filtering to your shopify products.</h2></div>
		<%- else %>
			<div id="begin"><h2>You should create these on shopify and then return.</h2></div>
		<%- end %>

	</div>




